@import url('https://fonts.googleapis.com/css?family=Rajdhani');

body {
	padding:0;
	margin:0;
}

.landingCover {
	background-size: cover;
	background-color:#F8F8F8;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
	margin:0;
	height:97vh;
	width: 100%;
	min-height: 100%;
}

.landingCover button {
	position:fixed;
	top: 70%;
	transform: translateX(215%);
	background: transparent;
	padding: 15px 20px;
	color: #fff;
	font-family: 'Dekko', cursive;
	background: rgb(133,133,133);
	background: linear-gradient(245deg, rgba(133,133,133,1) 0%, rgba(128,149,152,1) 12%, rgba(161,196,200,1) 85%, rgba(236,239,240,1) 99%);
	transition: all 0.7s ease-in;
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 2px;
	border-radius: 10px;
	width:20%;
	font-weight: 900;
	border:2px solid #fff;
}

.landingCover button:hover {
	background: rgb(236,239,240);
	background: linear-gradient(245deg, rgba(236,239,240,1) 0%, rgba(161,196,200,1) 73%, rgba(128,149,152,1) 100%);
	color: #fff;
	background-position: 99% 50%;
}

/* Category section */
.categoriesLanding {
	background-color:#E8E8E8;
	width: 100%;
	position: absolute;
	padding-bottom:3%;
}

.categoriesLanding h3 {
	padding-top:3%;
 	text-align: center;
 	font-size: 35px;
	font-family: 'Rajdhani';
	color:#A1C4C8;
	letter-spacing: 2px;
	width:100%;
}
.categoriesLanding hr {
	border: 0;
	height: 1.5px;
	width: 50%;
	background-image: linear-gradient(to right, #ccc, #A1C4C8, #ccc);
}

.categoriesLanding {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
@media(max-width: 768px) {
	.landingCover button{
		top:65%;
		transform: translateX(120%);
		width:30%;
	}
}

@media(max-width: 414px) {
	.landingCover button{
		width:60%;
		transform: translateX(30%);
	}
}